<script>
    var socket = io.connect('http://localhost:3000');

    socket.emit('join',{
        emailId : '<%=loggedinEmailId%>'
    });

    var isStillTyping = false;
    var oldUserTypingStatus = false;
    var messages = $('#txtMessages');

    var options = { day: 'numeric', weekday: 'short', month: 'long' };
    $('#txtMsgBody').keyup(function (event) {
        //alert('key press');
        if (event.key == "Enter") {
            var today = new Date();
            var msgDateTime = today.getDate()+"-"+(today.getMonth()+1)+"-"+today.getFullYear()+" "+
            today.getHours()+ ":"+today.getMinutes()+":"+today.getSeconds();
            //alert(msgDateTime);
            //alert('sender : '+$('#sender').val());
            //alert('receiver : '+$('#receiver').val());
            socket.emit("chat-message-request", {
                message: $('#txtMsgBody').val(),
                sender: $('#sender').val(),
                receiver: $('#receiver').val(),
                senderName: '<%=loggedinName%>',
                receiverName : $('#titleName').text()
                //msgDateTime : msgDateTime
            });
            var msg = $('#txtMsgBody').val();
            $('#txtMsgBody').val('');
            
			var convertedDate = today.toLocaleString("en-US",options)+", "+today.toLocaleString('en-US', { hour: 'numeric',minute:'numeric', hour12: true });
						
            //messages.append("<span style=\"float:right;padding-right:8px;word-wrap:break-word;font-weight:bold\">" + msg + "</span></br></br>");
              messages.append("<span style=\"float:right;padding-right:8px;padding-left :100px;word-wrap:break-word;font-weight:bold\">" + msg + "</span><br/><span style=\"color:gray;float:right;padding-right:8px;padding-top:5px;font-size:10px;\">"+ convertedDate + "</span></br></br></br>");
            messages.animate({ scrollTop: messages.prop("scrollHeight") }, 1);
            //isStillTyping = false;
        }
       // else
            isStillTyping = true;

    });

    setInterval(function () {
            if (isStillTyping != oldUserTypingStatus) {
                var userTypingMsg = ""; if (isStillTyping) {
                    userTypingMsg
                    = 'user-is-typing-request';
                } else { userTypingMsg = 'user-is-not-typing-request'; } 
                socket.emit(userTypingMsg, {
                    sender: $('#sender').val(), receiver: $('#receiver').val(), 
                    senderName: '<%=loggedinName%>' });  
                    oldUserTypingStatus = isStillTyping;
                    } 
                    isStillTyping = false;
                    //oldUserTypingStatus = isStillTyping;
                    }, 2000);


    socket.on('chat-message-response', function (data) {
        //$('#txtMessages').text();
        console.log(data.response);
        
        //if (data.response.sender === $("#sender").val())
            //messages.append("<span style=\"float:right;padding-right:8px;word-wrap:break-word;font-weight:bold\">" + data.response.message + "</span></br></br>");
        //else if (data.response.receiver == '<%=loggedinEmailId%>') {
            messages.append("<img class=\"messageCircleImage\" src=\"../../images/" + data.response.sender +
             ".jpg\"/><span style=\"color:#009900;padding-left:5px;font-weight:bold;\">" +
              data.response.message + "</span></br>"+
              "<span style=\"color:gray;padding-left:35px;font-size:10px;\">"+data.response.senderName+
              "."+data.response.sentDateTime+"</span></br></br>");
            console.log(data.response);
            // $("#chatWindow").show();
            // $("#txtMsgBody").focus();
            // $('#titleProfile').attr("src", "../../images/" + data.response.sender + ".jpg")
            // $('#titleName').text(data.response.senderName);
            // $('#titleEmailId').text(data.response.sender);
            // $("#receiver").val(data.response.sender);
        //}

        //messages.scrollTop(messages.prop("scrollHeight"));
        messages.animate({ scrollTop: messages.prop("scrollHeight") }, 1);
    });

    socket.on('user-is-typing-response', function (data) {
        //if (data.response.receiver == '<%=loggedinEmailId%>')
        //{
            $('#userIsTyping').text(data.response.senderName+' is typing...');
            $("#userIsTyping").show();
        // }
        // else
        // {
        //     $("#userIsTyping").hide();
        // }
    });

    socket.on('user-is-not-typing-response', function (data) {
        //if (data.response.receiver == '<%=loggedinEmailId%>')
            $("#userIsTyping").hide();
    });


    socket.on('AvailabilityUpdated',function(data){
        console.log('got AvailabilityUpdated');
        updateAvailabilityStatus(data.Availability,'<%=loggedinEmailId%>');
    });

    

    window.onbeforeunload= function clientDisconnected()
		{

			socket.emit('clientDisconnectedForcibly',{
            emailId : '<%=loggedinEmailId%>'
        });
        }
        
        // function leaveSocket()
        // {
        //     //alert('leaving'+'<%=loggedinEmailId%>');
        //     socket.emit('leave',{
        //         emailId : '<%=loggedinEmailId%>'
        //     });
        //     //window.location.href="/Signout"
        // }
</script>