<script>
    var socket = io.connect();

    socket.emit('join', {
        emailId: '<%=loggedinEmailId%>'
    });
    var intervalIds = {};
    var isStillTyping = false;
    var oldUserTypingStatus = false;
    var messages = $('#txtMessages');

    var options = { day: 'numeric', weekday: 'short', month: 'long' };
    $('#txtMsgBody').keyup(function (event) {
        //alert('key press');
        if (event.key == "Enter") {
            var today = new Date();
            var msgDateTime = today.getDate() + "-" + (today.getMonth() + 1) + "-" + today.getFullYear() + " " +
                today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
            //alert(msgDateTime);
            //alert('sender : '+$('#sender').val());
            //alert('receiver : '+$('#receiver').val());
            socket.emit("chat-message-request", {
                message: $('#txtMsgBody').val(),
                sender: $('#sender').val(),
                receiver: $('#receiver').val(),
                senderName: '<%=loggedinName%>',
                receiverName: $('#titleName').text()
                //msgDateTime : msgDateTime
            });
            var msg = $('#txtMsgBody').val();
            $('#txtMsgBody').val('');

            var convertedDate = today.toLocaleString("en-US", options) + ", " + today.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true });
            var senderplain= getPlainEmailId($('#sender').val());
            //messages.append("<span style=\"float:right;padding-right:8px;word-wrap:break-word;font-weight:bold\">" + msg + "</span></br></br>");
            messages.append("<span style=\"float:right;padding-right:12px;padding-left :100px;word-wrap:break-word;font-weight:bold\">" + msg + 
                "</span><br/><span style=\"color:gray;float:right;padding-right:8px;padding-top:5px;font-size:10px;\">" + 
                    convertedDate + 
                    "<span class= \""+senderplain+"msgReadTick\" style=\"color:green;postition:absolute;padding:3px;font-size:16px;font-weight:bold;display:none;\">&#10004;</span></span></br></br></br>");
            messages.animate({ scrollTop: messages.prop("scrollHeight") }, 1);
            isStillTyping = false;
            oldUserTypingStatus = false;
            socket.emit('user-is-not-typing-request', {
                sender: $('#sender').val(), receiver: $('#receiver').val(),
                senderName: '<%=loggedinName%>'
            });

        }
         else
            isStillTyping = true;

    });

    setInterval(function () {
        if (isStillTyping != oldUserTypingStatus) {
            var userTypingMsg = ""; if (isStillTyping) {
                userTypingMsg
                    = 'user-is-typing-request';
            } else { userTypingMsg = 'user-is-not-typing-request'; }
            socket.emit(userTypingMsg, {
                sender: $('#sender').val(), receiver: $('#receiver').val(),
                senderName: '<%=loggedinName%>'
            });
            oldUserTypingStatus = isStillTyping;
        }
        isStillTyping = false;
        //oldUserTypingStatus = isStillTyping;
    }, 1000);


    socket.on('chat-message-response', function (data) {
        //$('#txtMessages').text();
        console.log(data.response);
        
        //if (data.response.sender === $("#sender").val())
        //messages.append("<span style=\"float:right;padding-right:8px;word-wrap:break-word;font-weight:bold\">" + data.response.message + "</span></br></br>");
        //else if (data.response.receiver == '<%=loggedinEmailId%>') {
        var msgDateTime = new Date(data.response.sentDateTime);    
        var convertedDate = msgDateTime.toLocaleString("en-US", options) + ", " + msgDateTime.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true });
        messages.append("<img class=\"messageCircleImage\" src=\"../../images/" + data.response.sender +
            ".jpg\"/><span style=\"color:#009900;padding-left:5px;font-weight:bold;\">" +
            data.response.message + "</span></br>" +
            "<span style=\"color:gray;padding-left:35px;font-size:10px;\">" + data.response.senderName +
            "." + convertedDate + "</span></br></br>");
            
            //display msg unread count
            //display messages count
        //var senderemail = data.response.sender.replace('@','').replace('.','');
        //console.log(senderemail);
        
        var senderPlainEmailId = getPlainEmailId(data.response.sender);
        var unreadMsgCount = $("#newMessagesCount"+senderPlainEmailId).text().trim();
        unreadMsgCount = unreadMsgCount=== '' ? '0' : unreadMsgCount;
        var unreadMsgCount = parseInt(unreadMsgCount);
        $("#newMessagesCount"+senderPlainEmailId).text(++unreadMsgCount);
        $("#newMessagesCount"+senderPlainEmailId).css('visibility','visible');
        if(hasFocus)
			{
                if(currentViewingUser === data.response.sender)
                {
                    messagesReadCompleted(data.response.sender, data.response.receiver,hasFocus);
                }
			}
        //console.log(data.response);
        // $("#chatWindow").show();
        // $("#txtMsgBody").focus();
        // $('#titleProfile').attr("src", "../../images/" + data.response.sender + ".jpg")
        // $('#titleName').text(data.response.senderName);
        // $('#titleEmailId').text(data.response.sender);
        // $("#receiver").val(data.response.sender);
        //}

        //messages.scrollTop(messages.prop("scrollHeight"));
        messages.animate({ scrollTop: messages.prop("scrollHeight") }, 1);

        //show titlebar with username
                
        
        if (!intervalIds[data.response.sender]) {
            console.log('going to start interval');
            console.log(intervalIds[data.response.sender]);
                var num = 1;
                intervalIds[data.response.sender] = setInterval(function () {
                    if (num == 1) {
                    document.title
                        = data.response.senderName + ' Says...'; num++;
                    } else { document.title = 'MyChat - Home'; num = 1; }
                }, 3000);
            }
            

        
        //$("#newMessagesText"+senderemail.replace('@','').replace('.','')).css('visibility','visible');
    });

    socket.on('user-is-typing-response', function (data) {
        //if (data.response.receiver == '<%=loggedinEmailId%>')
        //{
        $('#userIsTyping').text(data.response.senderName + ' is typing...');
        $("#userIsTyping").show();
        // }
        // else
        // {
        //     $("#userIsTyping").hide();
        // }
    });

    socket.on('user-is-not-typing-response', function (data) {
        //if (data.response.receiver == '<%=loggedinEmailId%>')
        $("#userIsTyping").hide();
    });


    socket.on('AvailabilityUpdated', function (data) {
        console.log('got AvailabilityUpdated');
        updateAvailabilityStatus(data.Availability, '<%=loggedinEmailId%>');
    });

socket.on('msg-read-completed-response',function(data){
    console.log("received msg-read-completed-response =>"+data.readCompletedTimestamp);
    $('.'+getPlainEmailId(data.sender)+"msgReadTick").show();
});

    window.onbeforeunload = function clientDisconnected() {

        socket.emit('clientDisconnectedForcibly', {
            emailId: '<%=loggedinEmailId%>'
        });
    }

        // function leaveSocket()
        // {
        //     //alert('leaving'+'<%=loggedinEmailId%>');
        //     socket.emit('leave',{
        //         emailId : '<%=loggedinEmailId%>'
        //     });
        //     //window.location.href="/Signout"
        // }
</script>